{% extends 'admin_base.html' %}

{% block style %}
<style>
  html {
    height: 100%;
  }
  body {
    height: inherit;
    background-color: #fafafa;
  }
  .container {
    max-width: 980px;
  }
  .border-danger {
    border-color: #b02a37;
  }
</style>
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: inherit;">
  <form class="col-6 col-sm-4" method="POST" action="{{ url_for('admin_login') }}">
    {{ form.csrf_token }}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ messages[0] }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% endwith %}
    <div class="mb-3">
      {% if form.username.errors %}
      {{ form.username.label(class="form-label mb-0", for="InputUsername1") }}
      <p class="text-danger mb-1 mt-0">
        {% for e in form.username.errors %}
        {{ e }}
        {% endfor %}
      </p>
      {{ form.username(class="form-control border-danger", id="InputUsername1") }}
      {% else %}
      {{ form.username.label(class="form-label", for="InputUsername1") }}
      {{ form.username(class="form-control", id="InputUsername1") }}
      {% endif %}
    </div>
    <div class="mb-3">
      {{ form.password.label(class="form-label", for="InputPassword1") }}
      {{ form.password(class="form-control", id="InputPassword1") }}
    </div>
    <div class="mb-3 form-check">
      {{ form.remember(class="form-check-input", id="Remember1") }}
      {{ form.remember.label(class="form-check-label", for="Remember1") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
  </form>
</div>
{% endblock %}
